@page
@model ideaMarket.Pages.Platform.portfolioNewIdeaModel
@{
    ViewData["Title"] = "portfolioNewIdea";
}

@section Scripts{

    <script>
        //File Upload
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })


        //Dynamic Dropdown
        var sectorsByCategory = {
            Primary: ["Agriculture", "Mining", "Fishing", "Forestry"],
            Secondary: ["Manufacturing", "Utilities", "Construction"],
            Tertiary: ["Retail", "Finacial Services", "Communication", "Hospitality & Leisure", "Real Estate"],
            Quaternary: ["Education", "Public Sector", "Research & Develoment"]
        }

        function changecat(value) {
            if (value.length == 0) document.getElementById("category").innerHTML = "<option></option>";
            else {
                var catOptions = "";
                for (categoryId in sectorsByCategory[value]) {
                    catOptions += "<option>" + sectorsByCategory[value][categoryId] + "</option>";
                }
                document.getElementById("category").innerHTML = catOptions;
            }
        }
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["message"]' == "FailedUploadNewIdea") {
            console.log("true");
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Idea Upload Failed Recheck Form',
                showConfirmButton: false,
                timer: 1500
            })

        }
        else if ('@TempData["message"]' == "MissingPlan") {
            console.log("true");
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Please Upload Your Idea Plan',
                showConfirmButton: false,
                timer: 1500
            })
        }
       else {
            console.log("fail");

       }
    });
    </script>



}
<div class="page-area-myProfile">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>Launch Ideas</h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Home</li>                      
                        <li>Lauch Idea</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog-area fix page-padding">
    <div class="container">
        <div class="row">
            <div class="blog-sidebar-right">

                <!-- Start Right Sidebar blog -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="left-head-blog right-side">
                        <div class="left-blog-page">
                            <div class="left-tags blog-tags">
                                <div class="popular-tag left-side-tags left-blog">
                                    <h4>
                                        Post New Idea
                                    </h4><br />
                                    <form action="#">
                                        <div class="">
                                            <a asp-page="/UserPortfolio/portfolioNewIdea" class="newIdea-btn"><i class="ti-light-bulb"></i> Launch idea</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="left-blog-page">
                            <div class="left-blog blog-category">
                                <h4>Portfolio Menu</h4>
                                <ul>
                                    <li><span><i class="fa fa-user"></i></span><a asp-page="/UserPortfolio/PortfolioProfile">Profile</a></li>
                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Idea-Owner"))
                                    {
                                        <li><span><i class="fa fa-lightbulb-o"></i></span><a asp-page="/UserPortfolio/myIdeas">My Ideas</a></li>
                                    }

                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Investor"))
                                    {
                                        <li><span><i class="fa fa-briefcase"></i></span><a asp-page="/UserPortfolio/myInvestments">My Investments</a></li>
                                    }

                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                                    {
                                        <li><span><i class="fa fa-user"></i></span><a asp-page="/UserPortfolio/Administration">Admin HuB</a></li>
                                    }

                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="">
                            <div class="row">
                                <div class="blog-content1" style="border: 1px solid #E6922E">
                                    <div class="newIdeaContent" style="width: 100%">
                                        <div class="newIdeaContent__inner">
                                            <div class="multisteps-form">
                                                <div>
                                                    <h3 class="text-center">Launch New Idea</h3>
                                                </div><br />
                                                <div class="row">
                                                    <div class="col-12 ml-auto mr-auto mb-4">
                                                        <div class="multisteps-form__progress">
                                                            <button class="multisteps-form__progress-btn js-active" type="button" title="Basic Details">Basic Details</button>
                                                            <button class="multisteps-form__progress-btn" type="button" title="Contact Details">Contact Details</button>
                                                            <button class="multisteps-form__progress-btn" type="button" title="Financial Details">Financial Details</button>
                                                            <button class="multisteps-form__progress-btn" type="button" title="Upload Files">Upload Files</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12  m-auto">
                                                        <form method="post" enctype="multipart/form-data" class="multisteps-form__form">
                                                            <div class="idea-form-box  multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                                                                <h5 class="multisteps-form__title text-center" style="color: #E6922E;">Enter Basic Details</h5>
                                                                <div class="multisteps-form__content">
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                            <input asp-for="Idea.IdeaName" class="multisteps-form__input form-control" type="text" placeholder="Idea/Business Name" />
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                            <input asp-for="Idea.TeamSize" class="multisteps-form__input form-control" type="number" placeholder="Team Size" />
                                                                        </div>
                                                                    </div>
                                                                    <span asp-validation-for="Idea.IdeaName" class="text-danger"></span>
                                                                    <span asp-validation-for="Idea.TeamSize" class="text-danger"></span>
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                            <select asp-for="Idea.IdeaSector" id="sectors" onChange="changecat(this.value);" class="form-control">
                                                                                <option value="" disabled selected>Sector</option>
                                                                                <option value="Primary">Primary</option>
                                                                                <option value="Secondary">Secondary</option>
                                                                                <option value="Tertiary">Tertiary</option>
                                                                                <option value="Quaternary">Quaternary</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                            <select asp-for="Idea.IdeaCriteria" id="category" class="form-control">
                                                                                <option value="" disabled selected>Select</option>
                                                                            </select>
                                                                        </div>

                                                                    </div>
                                                                    <span asp-validation-for="Idea.IdeaSector" class="text-danger"></span>
                                                                    <span asp-validation-for="Idea.IdeaCriteria" class="text-danger"></span>
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-12 mt-4 mt-sm-0">
                                                                            <textarea asp-for="Idea.IdeaSummary" class="multisteps-form__textarea form-control" rows="10" placeholder="Give A Summary Of Your Idea (Elevator Pitch, Not more than 200 words)..."></textarea>
                                                                        </div>

                                                                    </div>
                                                                    <div class="form-row col-12 col-sm-6 d-flex mt-4">

                                                                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="idea-form-box multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                                                <h5 class="multisteps-form__title text-center" style="color: #E6922E;">Enter Contact Details</h5>
                                                                <div class="multisteps-form__content">
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                            <input asp-for="Idea.MobileNumber" class="multisteps-form__input form-control" type="tel" placeholder="Mobile Number" />
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                            <input asp-for="Idea.CompanyEmail" class="multisteps-form__input form-control" type="email" placeholder="E-mail" />
                                                                        </div>
                                                                    </div>
                                                                    <span asp-validation-for="Idea.MobileNumber" class="text-danger"></span>
                                                                    <span asp-validation-for="Idea.MobileNumber" class="text-danger"></span>
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-12 mt-4 mt-sm-0">
                                                                            <textarea asp-for="Idea.CompanyAddress" class="multisteps-form__textarea form-control" rows="3" placeholder="Company Adress.."></textarea>
                                                                        </div>

                                                                    </div>
                                                                    <span asp-validation-for="Idea.CompanyAddress" class="text-danger"></span>
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-12 mt-4 mt-sm-0">
                                                                            <textarea asp-for="Idea.OtherContactDetails" class="multisteps-form__textarea form-control" rows="2" placeholder="Referrer Name and Other Contact Information..."></textarea>
                                                                        </div>

                                                                    </div>
                                                                    <span asp-validation-for="Idea.OtherContactDetails" class="text-danger"></span>
                                                                    <div class="form-row col-12 col-sm-6 d-flex mt-4">
                                                                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                                                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="idea-form-box multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                                                <h5 class="multisteps-form__title text-center" style="color: #E6922E;">Enter Financial Details</h5>
                                                                <div class="multisteps-form__content">
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                            <input asp-for="Idea.MinimumCapital" class="multisteps-form__input form-control" type="number" placeholder="Looking To Raise(Min)" />
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                            <input asp-for="Idea.MaximumCapital" class="multisteps-form__input form-control" type="number" placeholder="Looking To Raise(Max)" />
                                                                        </div>
                                                                    </div>
                                                                    <span asp-validation-for="Idea.MinimumCapital" class="text-danger"></span>
                                                                    <span asp-validation-for="Idea.MaximumCapital" class="text-danger"></span>
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-12 mt-4 mt-sm-0">
                                                                            <textarea asp-for="Idea.JustifyCapital" class="multisteps-form__textarea form-control" rows="3" placeholder="Justify The above figures.."></textarea>
                                                                        </div>

                                                                    </div>
                                                                    <span asp-validation-for="Idea.JustifyCapital" class="text-danger"></span>
                                                                    <div class="form-row col-12 col-sm-6 d-flex mt-4">
                                                                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                                                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="idea-form-box multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                                                <h5 class="multisteps-form__title text-center" style="color: #E6922E;">Upload Required Files</h5>
                                                                <div class="multisteps-form__content">
                                                                    <div class="form-row mt-4">
                                                                        <div class="col-12 col-sm-6">
                                                                            <label class="custom-file-label" for="IdeaPicture">Idea Picture</label>
                                                                            <input asp-for="IdeaPicture" class="custom-file-input form-control" type="file" />
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                                            <label class="custom-file-label" for="IdeaPic">Idea Plan</label>
                                                                            <input asp-for="IdeaPlan" class="custom-file-input form-control" type="file" placeholder="Idea Plan" />
                                                                        </div>

                                                                    </div>
                                                                    <span asp-validation-for="Idea.IdeaPicture" class="text-danger"></span>
                                                                    <span asp-validation-for="Idea.IdeaPlan" class="text-danger"></span>
                                                                    <div>
                                                                        <input type="hidden" asp-for="Idea.IdeaOwner" value="@Model.User.Identity.Name" />
                                                                        <input type="hidden" asp-for="Idea.DateLaunched" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                                        <input type="hidden" asp-for="Idea.Status" value="ACTIVE" />


                                                                    </div>
                                                                    <div class="form-row col-12 col-sm-6 d-flex mt-4">
                                                                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                                                        <button asp-page-handler="NewIdea" class="btn btn-success ml-auto " type="submit" title="Send">Send</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Right Sidebar -->
        </div>
        <!-- End row -->
    </div>
</div>





