@page
@model ideaMarket.Pages.Platform.aboutModel
@{
    ViewData["Title"] = "about";
}

<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>About us</h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Home</li>
                        <li>About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<!-- about-area start -->
<div class="about-area page-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft"data-wow-delay="300ms">
                <div class="about-image">
                    <img src="../img/about/Artboard 1IDEA MARKET LOGO.png" alt="">
                   
                </div>
            </div>
            <!-- column end -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-content">
                    <h3 class="wow fadeInRight" data-wow-delay="300ms">A Platform For Idea Owners, Think Tanks, Innovators and Investors To Learn, network, meet and establish business easily at low costs.</h3>
                    <p  class="wow fadeInUp" data-wow-delay="300ms">
                        Ideamarket website is oriented on connecting the idea owners to the
                        investors through the means of exposing them and advertising their
                        content on their behalf.
                        Creating a space for investors to search for their desired and specific ideas.
                    </p>
                  
                    <div class="about-details">
                        <p  class="wow fadeInRight" data-wow-delay="600ms">What We Do: </p>
                        <ul class="marker-list">
                            <li  class="wow fadeInRight" data-wow-delay="1000ms">Connect-Idea Owners and Investors from small to large scale.</li>
                            <li  class="wow fadeInRight" data-wow-delay="2000ms">Educate-Issue entrepreneurial tips and knowledge </li>
                            <li  class="wow fadeInRight" data-wow-delay="3000ms">Inform-local and global business related news</li>
                            <li  class="wow fadeInRight" data-wow-delay="4000ms">Upgrade-Offer startup consulatancy to idea owners and investors</li>
                            <li  class="wow fadeInRight" data-wow-delay="5000ms">Locate-Business opportunities and srategic markets</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- column end -->
        </div>
    </div>
</div>

