@page
@model ideaMarket.Pages.Platform.contactModel
@{
    ViewData["Title"] = "contact";
}

<!-- Start breadcumb Area -->
<div class="page-area-contacts">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>Contact us</h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Home</li>
                        <li>Contact us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<!-- Start contact Area -->
<div class="contact-area page-padding">
    <div class="container">
        <div class="row">
            <div class="contact-inner">
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft"data-wow-delay="300ms">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-mobile"></i>
                            <p>
                                Call : +263773732842<br>
                                <span>Monday-Sunday (24/7)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="500ms">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-envelope-o"></i>
                            <p>
                                Email : ideamarketglobal@gmail.com<br>
                                <span>Web: www.ideamarket.co.zw</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-delay="300ms">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-map-marker"></i>
                            <p>
                                Location : 17 Park Street, Shanda House, Harare<br>
                                <span>2nd floor, Suite 10</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>
<!-- End Contact Area -->
