@page
@model ideaMarket.Pages.Administration.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="page-area-error">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>Error</h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Home</li>
                        <li>Error</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Blog Area-->
<div class="blog-area fix bg-color page-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Error!!</h3>
                    <p>An Error Occured While Processing Your Request, Report Fault</p>
                </div>
            </div>
        </div>
              
    </div>
</div>